li { margin-left: 20px; }

#logo { font-size: 28px; }
#photo-wrap, #photo { width: 500px; height: 500px; margin-left: auto; margin-right: auto; text-align: center; }
#photo { display: table-cell; vertical-align: middle; }